<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container white-text">
      © 2016 Copyright. This is a sample web, its not meant to be responsive or mobile friendly.
    </div>
  </div>
</footer>