<header>
  <nav class="top-nav">
    <div class="container">
      <div class="nav-wrapper">
        <a id="link-home" href='/' class="brand-logo"><i class="material-icons">home</i>Beanie</a>
    </div>
  </nav>
</header>